# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものです。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [3]:
import pandas as pd
import numpy as np

## データの読み込み

In [4]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [5]:
df_receipt.head(5)
#01
df_receipt[df_receipt['customer_id']=="CS018205000001"]
#02
df_receipt[(df_receipt['amount']>=5000) | (df_receipt['quantity']>=5)]

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
117,20181025,1540425600,S14036,1142,2,ZZ000000000000,P040102023,1,5000
596,20181219,1545177600,S13015,1132,1,CS015515000083,P071301009,1,5280
1202,20190903,1567468800,S14011,1192,2,CS011415000006,P080104055,1,10925
2087,20181025,1540425600,S13004,1142,1,ZZ000000000000,P040102023,1,5000
3535,20190530,1559174400,S13017,1132,1,CS017513000208,P040102024,1,5000
...,...,...,...,...,...,...,...,...,...
99289,20190130,1548806400,S14023,1112,1,CS023514000029,P040102024,1,5000
99331,20181128,1543363200,S13041,1132,2,ZZ000000000000,P071301008,1,5060
100296,20180831,1535673600,S12007,1172,1,CS007403000027,P040102024,1,5000
101252,20190729,1564358400,S12014,1182,2,CS014515000007,P040102023,1,5000
101763,20190329,1553817600,S13001,1122,2,CS001615000201,P040102023,1,5000

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [6]:
df_customer.sort_values(by='birth_day',ascending=False).head(5)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd
15639,CS035114000004,大村 美里,1,女性,2007-11-25,11,156-0053,東京都世田谷区桜**********,S13035,20150619,6-20091205-6
7468,CS022103000002,福山 はじめ,9,不明,2007-10-02,11,249-0006,神奈川県逗子市逗子**********,S14022,20160909,0-00000000-0
10745,CS002113000009,柴田 真悠子,1,女性,2007-09-17,11,184-0014,東京都小金井市貫井南町**********,S13002,20160304,0-00000000-0
19811,CS004115000014,松井 京子,1,女性,2007-08-09,11,165-0031,東京都中野区上鷺宮**********,S13004,20161120,1-20081231-1
7039,CS002114000010,山内 遥,1,女性,2007-06-03,11,184-0015,東京都小金井市貫井北町**********,S13002,20160920,6-20100510-1

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [7]:
df_receipt.count()

sales_ymd         104681
sales_epoch       104681
store_cd          104681
receipt_no        104681
receipt_sub_no    104681
customer_id       104681
product_cd        104681
quantity          104681
amount            104681
dtype: int64

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [15]:
len(df_receipt['customer_id'].value_counts())

8307

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [33]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")

In [167]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
average = df_receipt_only_member['amount'].sum() / df_receipt_only_member['amount'].count()
df_receipt_only_member[df_receipt_only_member['amount'] >= average]

,sales_ymd,sales_epoch,store_cd,receipt_no,receipt_sub_no,customer_id,product_cd,quantity,amount
9,20191010,1570665600,S14027,1102,1,CS027514000015,P071101003,1,680
12,20180506,1525564800,S13039,1112,1,CS039414000052,P059001019,1,428
13,20190326,1553558400,S13016,112,1,CS016215000032,P091401190,1,780
34,20190718,1563408000,S14011,112,1,CS011115000004,P060805001,1,495
36,20180911,1536624000,S13018,1122,2,CS018205000001,P071401012,1,2200
...,...,...,...,...,...,...,...,...,...
104650,20181121,1542758400,S14025,1162,1,CS025414000015,P070301036,1,388
104656,20170730,1501372800,S13005,1102,2,CS005515000093,P071401018,1,2200
104662,20191024,1571875200,S14011,1132,2,CS011411000001,P071401001,1,1100
104666,20170330,1490832000,S13017,1112,1,CS017411000016,P071401013,1,2200
104669,20190726,1564099200,S14006,1122,1,CS006615000114,P071301002,1,2485

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [10]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [18]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member_women = df_customer_only_member[df_customer_only_member['gender_cd'] == 1]
#customer_idが同じものを結合
df_merge = pd.merge(df_receipt,df_customer_only_member_women,on=['customer_id'], how="right")
#NaNを0に置換
df_merge['amount'].fillna(0,inplace=True)
df_merge['amount'].head(5)

0       0.0
1     100.0
2     320.0
3    2400.0
4     448.0
Name: amount, dtype: float64

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [101]:
df_customer['application_date'] = pd.to_datetime(df_customer['application_date'],format='%Y%m%d')
df_customer[['customer_id','application_date']].head(5)

      customer_id application_date
0  CS021313000114       2015-09-05
1  CS037613000071       2015-04-14
2  CS031415000172       2015-05-29
3  CS028811000001       2016-01-15
4  CS001215000145       2017-06-05

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [140]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

#Zを除外
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
#customer_idが同じものを結合
df_merge = pd.merge(df_receipt,df_customer_only_member_women,on=['customer_id'])
#重複するものの合計を出力
df_ans = df_merge[['amount','customer_id']].groupby('customer_id').sum()
#対数をとる
df_ans['amount'] = np.log10(df_ans['amount'])
df_ans.head(5)

                  amount
customer_id
CS001113000004  3.113275
CS001114000005  2.796574
CS001115000010  3.483445
CS001211000025  2.658965
CS001212000027  2.651278

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [144]:
df_product
pd.isnull(df_product).sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            7
unit_cost             7
dtype: int64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [180]:
df_product1 = df_product.dropna(how='any')
df_product1

,product_cd,category_major_cd,category_medium_cd,category_small_cd,unit_price,unit_cost
0,P040101001,4,401,40101,198.0,149.0
1,P040101002,4,401,40101,218.0,164.0
2,P040101003,4,401,40101,230.0,173.0
3,P040101004,4,401,40101,248.0,186.0
4,P040101005,4,401,40101,268.0,201.0
...,...,...,...,...,...,...
10025,P091503001,9,915,91503,280.0,210.0
10026,P091503002,9,915,91503,680.0,510.0
10027,P091503003,9,915,91503,1080.0,810.0
10028,P091503004,9,915,91503,1130.0,848.0
10029,P091503005,9,915,91503,1280.0,960.0

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [179]:
#四捨五入のための関数
def round_off(num):
    if num%10 >= 5:
        num_new = (num//10)*10 + 10
    else:
        num_new = (num//10)*10
    return(num_new)

average_price = round_off(df_product['unit_price'].mean())
average_cost = round_off(df_product['unit_cost'].mean())
df_product2 = df_product
df_product2['unit_price'] = df_product['unit_price'].fillna(average_price)
df_product2['unit_cost'] = df_product['unit_cost'].fillna(average_cost)


pd.isnull(df_product2).sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64